app-window {
  position: fixed;
  //top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.7);
  transform-origin: 50vw 0vh;
  transition-duration: 0.3s;
  &.focus {
    transform: none;
    opacity: 1;
    >.cover{
      visibility: hidden;
    }
  }
  &.away {
    opacity: 0;
  }
  > .cover{
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
  }
  > iframe{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  //below is for testing
  /*
  &:nth-child(1n) {
    background-color: green;
  }
  &:nth-child(2n) {
    background-color: blue;
  }
  &:nth-child(3n) {
    background-color: red;
  }*/
  .testing {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
}
#windowsContainer {
  perspective: 300px;
  perspective-origin: 50vw -100vh;
  position: fixed;
  transform-style: preserve-3d;
  z-index: 9;
  transition: 0.5s;
  visibility: visible;
  &.away {
    transform: translateY(-100vh) scale(2,2);
    perspective: 50px;
    visibility: hidden;
  }
  &.scrolling > app-window{
    transition-duration: 0s;
  }
}
/*
.safari #windowsContainer{
  transform-style: unset;
}
*/
