dialog{position:fixed;backdrop-filter:blur(6px);-webkit-backdrop-filter:blur(6px);background-color:rgba(73,73,73,.575);color:rgba(214,214,214,.925);border-width:0px;border-radius:5px;padding:8px;width:calc(100vw - 40px);text-align:center;font-family:Arial;transition:transform .5s ease;display:block;bottom:10px;user-select:none}dialog[open]{transform:translateY(0%)}dialog:not([open]),dialog.sent-back{transform:translateY(100%);display:block}dialog form{margin:0px}dialog form p{text-align:center;border-bottom:1px solid;padding-bottom:8px;border-color:rgba(128,128,128,.63);margin:0px;padding:18px}dialog form p button{position:fixed;right:5px;padding:initial;padding:2px 6px}dialog form p li{text-align:left;margin:10px 0px}dialog form p li *{display:inline-block;vertical-align:middle}dialog form p.title{text-align:left;font-size:large;padding:0px;padding-bottom:8px;color:#f3f3f3}dialog menu{padding:0px;margin:0px;display:flex;flex-direction:row;justify-content:space-evenly}dialog button{position:relative;font-size:large;border-width:0px;border-radius:5px;color:rgba(56,172,255,.91);background-color:transparent;padding:12px 10px 4px 10px;margin:0px}#xterm_container{margin:0px;width:100vw;height:100vh}:root{--scroll-origin:0px;--finger-highlight-origin:0px;--theme-color: #000000;--safe-area-top: env(safe-area-inset-top);--safe-area-right: env(safe-area-inset-right);--safe-area-bottom: env(safe-area-inset-bottom);--safe-area-left: env(safe-area-inset-left)}html,body{position:fixed;width:100vw;height:100vh;margin:0;padding:0;background-color:var(--theme-color);user-select:none}button{padding:10px;border-radius:5px;background-color:orange;font-size:20px;margin:10px;border:0px;font-size:large}
:root {
  --startup-animation-logo-color: #00fdff;
  --startup-animation-logo-max-length: calc(max(50vh, 50vw) * 1.2)
}

#startup {
  position: fixed;
  background-color: transparent;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s ease 2s;
}

#startup .centerTriangle {
  position: fixed;
  left: calc(50vw - 20px);
  top: calc(50vh - 17.3205px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 34.641px;
  border-color: transparent transparent transparent transparent;
  animation: disappear1 1s step-end 0.5s 1 forwards;
}

#startup.clear {
  opacity: 0;
}

#startup .container {
  position: fixed;
  left: 0;
  width: 100vw;
  height: calc(17.3205px * 3);
  top: 50vh;
  padding: 0 0;
  transform-origin: 50% 5.5px;
}

#startup .container>.trapezoid {
  position: relative;
  width: 0%;
  height: 0;
  left: calc(0% - var(--startup-animation-logo-max-length));
  top: 0px;
  border-style: solid;
  margin: 0 0;
  border-top: 0px;
  border-bottom: 17.3205px solid var(--startup-animation-logo-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  animation: extend2 1s ease 0.5s 1 forwards;
}

#startup .container>.parallelogram {
  position: relative;
  transform: skewX(-30deg);
  width: 0%;
  left: calc(60% + var(--startup-animation-logo-max-length));
  height: 17.3205px;
  margin: 0.5 5;
  top: 17.3205px;
  background-color: var(--startup-animation-logo-color);
  animation: extend1 1s ease 0.5s 1 forwards;
}

@keyframes disappear1 {
  70%,
  100% {
    border-color: transparent transparent var(--startup-animation-logo-color) transparent;
  }
}

@keyframes extend1 {
  0% {}
  30% {
    width: var(--startup-animation-logo-max-length);
  }
  100% {
    width: calc(20px + 20px);
    left: 50%;
  }
}

@keyframes extend2 {
  0% {}
  30% {
    width: calc(var(--startup-animation-logo-max-length)*0.5);
  }
  100% {
    width: 20px;
    left: calc(50% + 20px);
  }
}

#startup .fst {}

#startup .snd {
  transform: rotate(120deg);
}

#startup .trd {
  transform: rotate(-120deg);
}
