:root {
    --startup-animation-logo-base-length: 20px;
    --startup-animation-logo-twice-length: calc(var(--startup-animation-logo-base-length) * 2);
    --startup-animation-logo-base-height: calc(var(--startup-animation-logo-base-length) * 0.866025);
    --startup-animation-logo-twice-height: calc(var(--startup-animation-logo-base-length) * 1.732051);
    --startup-animation-logo-harf-length: calc(var(--startup-animation-logo-base-length) *0.5);
    --startup-animation-logo-color: #00fdff;
    --startup-animation-logo-max-length: calc(max(50vh,50vw) * 1.2)
    /* below will change its value later0.866
    --startup-animation-extend-length: var(--startup-animation-logo-base-length);
*/}
#startup  .centerTriangle {
    position: fixed;
    left: calc(50vw - var(--startup-animation-logo-base-length));
    top: calc(50vh - var(--startup-animation-logo-base-height));
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 var(--startup-animation-logo-base-length) var(--startup-animation-logo-twice-height);
    border-color: transparent transparent var(--startup-animation-logo-color) transparent;
    animation: disappear1 2s linear 0.945s 1 paused forwards;
}
#startup.animationrunning .centerTriangle  {
    animation-play-state: running;
}
#startup.clear {
    opacity: 0;
}

#startup  .container {
    position: fixed;
    left: 0;
    width: 100vw;
    height: calc(var(--startup-animation-logo-base-height) * 3);
    top: 50vh;
    padding:0 0;
    transform-origin: 50% 5.5px;
}
#startup  .container > .trapezoid {

    position: relative;
    width: var(--startup-animation-logo-base-length);
    height: 0;
    left: calc(50% + var(--startup-animation-logo-base-length));
    top: 0px;
    border-style: solid;
    margin:0 0;
    border-top: 0px;
    border-bottom: var(--startup-animation-logo-base-height) solid var(--startup-animation-logo-color);
    border-left: var(--startup-animation-logo-harf-length) solid transparent;
    border-right: var(--startup-animation-logo-harf-length) solid transparent;
    animation: extend2 2s ease 0.8s 1 paused forwards;
}
#startup .container > .parallelogram {
    position: relative;
    transform: skewX(-30deg);
    width: calc(var(--startup-animation-logo-base-length) + var(--startup-animation-logo-base-length));
    height: var(--startup-animation-logo-base-height);
    margin:0 5;
    left: 50%;
    top: var(--startup-animation-logo-base-height);
    background-color: var(--startup-animation-logo-color);
    animation: extend1 2s ease 0.5s 1 paused forwards;
}
#startup.animationrunning .trapezoid  {
    animation-play-state: running;
}
#startup.animationrunning .parallelogram  {
    animation-play-state: running;
}
@keyframes disappear1{
    0% ,100%{
        border-color: transparent transparent transparent transparent;
    }
}
@keyframes extend1{
    0% {
    }
    70% {
        width: var(--startup-animation-logo-max-length);
    }
    100% {
        width: 0%;
        left: calc(60% + var(--startup-animation-logo-max-length));
    }
}
@keyframes extend2{
    0% {
    }
    70%,100% {
        left: calc(-70% - var(--startup-animation-logo-max-length));
    }
    70% {
        width: var(--startup-animation-logo-max-length);
    }
    100%{
        width: 0%;
    }
    
    
}
#startup  .fst {
    
}
#startup  .snd {
    transform: rotate(120deg);
}
#startup  .trd {
    transform: rotate(-120deg);
}